.breadcrumb{
    margin-right: -15px;
    margin-left: -32px;
}
#anchorlink{
    text-decoration: none;
    color: white;
}
.form-group{
    margin-top: 40px;
}
#heading-name{
    margin-top: 20px;
}
#label-name{
    font-weight: bold;
}
#leftlist{
    list-style: none;
    margin-top: 50px;
}
#list{
    margin-bottom: 35px;
}
#list>a{
    text-decoration: none;
    margin-left: 10px;
}
